.parent {
    -fx-background-color: #FDFDFE;
    -fx-background-radis: 10%;
}

.sidebar {
    -fx-background-color: #FFF8E6;
}

.close-btn {
    -fx-background-color: #FF6058;
    -fx-background-radius: 100%;
}

.close-btn:hover {
    -fx-background-color: red;
    -fx-background-radius: 100%;
}

.min-btn {
    -fx-background-color: #27CA41;
    -fx-background-radius: 100%;
}

.min-btn:hover {
    -fx-background-color: green;
    -fx-background-radius: 100%;
}

.max-btn {
    -fx-background-color: #FFBD2D;
    -fx-background-radius: 100%;
}

.max-btn:hover {
    -fx-background-color: yellow;
    -fx-background-radius: 100%;
}

.create-music-btn {
    -fx-background-color: #397DFF;
    -fx-background-radius: 5px;
}

.sidebar-btns {
    -fx-background-color: transparent;
    -fx-background-radius: 5px;
}

.sidebar-btns:hover {
    -fx-background-color: #FDFDFE;
    -fx-background-radius: 5px;
}

.white-round-carts {
    -fx-background-color: #fff;
    -fx-background-radius: 20px;
}

.white-round-strip {
    -fx-background-color: #fff;
    -fx-background-radius: 10px;
}

.round-btn {
    -fx-background-color: #F5F8FF;
    -fx-background-radius: 100%;
}