/*
    Primary color : #6200EE
    Primary variant color : #3700B3
    Secondary color : #03DAC6
    Secondary variant color : #018786
    Error color : #B00020
*/
.jfx-progress-bar > .track, .jfx-progress-bar > .bar {
    -fx-background-radius: 0;
    -fx-background-insets: 0;
}

.jfx-toggle-button {
    -jfx-toggle-color: #8100fa;
    -jfx-untoggle-color: #FAFAFA;
    -jfx-toggle-line-color: #8f54ab;
    -jfx-untoggle-line-color: #999999;
    -jfx-size: 10.0;
    -jfx-disable-visual-focus: false;
}

.jfx-tab-pane .headers-region {
    -fx-background-color: #8100fa;
}

.jfx-tab-pane .tab-header-background {
    -fx-background-color: #8f54ab;
}

.jfx-tab-pane .tab-selected-line {
    -fx-stroke: #ffffff;
}

.jfx-progress-bar > .bar {
    -fx-background-color: #8100fa;
}


.scroll-bar:vertical > .track-background, .scroll-bar:horizontal > .track-background {
    -fx-background-color: #F1F1F1;
    -fx-background-insets: 0.0;
}

.scroll-bar:vertical > .thumb, .scroll-bar:horizontal > .thumb {
    -fx-background-color: #BCBCBC;
    -fx-background-insets: 0.0;
    -fx-background-radius: 1.0;
}

/* Up- and Down-Button Padding */
.scroll-bar:vertical > .increment-button, .scroll-bar:vertical > .decrement-button {
    -fx-padding: 5 2 5 2;
}

/* Left- and Right-Button Padding */
.scroll-bar:horizontal > .increment-button, .scroll-bar:horizontal > .decrement-button {
    -fx-padding: 2 5 2 5;
}

.scroll-bar > .increment-button, .scroll-bar > .decrement-button, .scroll-bar:hover > .increment-button, .scroll-bar:hover > .decrement-button {
    -fx-background-color: transparent;
}

.scroll-bar > .increment-button > .increment-arrow, .scroll-bar > .decrement-button > .decrement-arrow {
    -fx-background-color: rgb(150.0, 150.0, 150.0);
}

/* Up Arrow */
.scroll-bar:vertical > .increment-button > .increment-arrow {
    -fx-shape: "M298 426h428l-214 214z";
}

.scroll-bar:vertical > .decrement-button > .decrement-arrow {
    -fx-shape: "M298 598l214-214 214 214h-428z";
}

.scroll-bar:horizontal > .increment-button > .increment-arrow {
    -fx-shape: "M0 428l0 -428l214 214l-214 214z";
}

.scroll-bar:horizontal > .decrement-button > .decrement-arrow {
    -fx-shape: "M214 0l0 428l-214 -214l214 -214z";
}

.scroll-pane {
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.scroll-pane:focused {
    -fx-background-insets: 0;
}

.scroll-pane .corner {
    -fx-background-insets: 0;
}

.jfx-decorator {
    -fx-decorator-color: #8100fa;
}

.jfx-decorator .jfx-decorator-buttons-container {
    -fx-background-color: -fx-decorator-color;
}

.jfx-decorator .resize-border {
    -fx-border-color: -fx-decorator-color;
    -fx-border-width: 0 4 4 4;
}

.jfx-button {
    -jfx-button-type: FLAT;
    -fx-background-color: #6200EE;
    -fx-text-fill: white;
}

/*Raised button example */
.jfx-button {
    -jfx-button-type: RAISED;
    -fx-background-color: #6200EE;
    -fx-text-fill: white;
}

.jfx-button-variant {
    -jfx-button-type: RAISED;
    -fx-background-color: #3700B3;
    -fx-text-fill: floralwhite;
}

.jfx-button-secondary {
    -jfx-button-type: RAISED;
    -fx-background-color: #03DAC6;
    -fx-text-fill: floralwhite;
}

.jfx-button-secondary-variant {
    -jfx-button-type: RAISED;
    -fx-background-color: #018786;
    -fx-text-fill: floralwhite;
}

.jfx-button-error {
    -jfx-button-type: RAISED;
    -fx-background-color: #B00020;
    -fx-text-fill: floralwhite;
}

.list-cell {
    -fx-alignment: center;
    -fx-background-color: #03DAC6;
}