.bad {
    -fx-background-color: red, linear-gradient(to bottom, derive(red, 60%) 5%, derive(red, 90%) 40%);
}

.med {
    -fx-background-color: orangered, linear-gradient(to bottom, derive(orangered, 60%) 5%, derive(orangered, 90%) 40%);
}

.good {
    -fx-background-color: orange, linear-gradient(to bottom, derive(orange, 60%) 5%, derive(orange, 90%) 40%);
}

.best {
    -fx-background-color: green, linear-gradient(to bottom, derive(green, 60%) 5%, derive(green, 90%) 40%);
}

.jfx-progress-bar > .track, .jfx-progress-bar > .bar {
    -fx-background-radius: 0;
    -fx-background-insets: 0;
}

.jfx-progress-bar > .bar {
    -fx-background-color: #8100fa;
}